<a href="https://colab.research.google.com/github/wjdjiyeon/AIpython/blob/main/250328.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
n1,n2=map(int,input().split())

if n1>n2:
  print(f'{n1}은(는) {n2}보다 큽니다.')
elif n1<n2:
  print(f'{n1}은(는) {n2}보다 작습니다.')
else:
  print(f'{n1}과(와) {n2}은(는) 같습니다.')

1 2
1은(는) 2보다 작습니다.

In [26]:
num1,num2,num3=map(int,input().split())
max_num=num1

if max_num<=num2:
  max_num=num2
if max_num<num3:
  max_num=num3
print(max_num)

3 2 1
3

In [22]:
num1,num2,num3=map(int,input().split())
num_list=[num1,num2,num3]
num_list.sort()
print(num_list[-1])

2 1 3
3

In [38]:
grade=int(input())
if grade>100 or grade<0:
  print("점수는 0부터 100 사이의 값이여야 합니다.")
elif grade>=90:
  print('A')
elif grade>=80:
  print('B')
elif grade>=70:
  print('C')
elif grade>=60:
  print('D')
else:
  print('F')

50
F

In [43]:
year=int(input())
if (year%4==0 and year%100!=0) or (year%400==0):
  print("윤년")
else:
  print("평년")

2016
윤년

In [44]:
for i in range(5):
  print(i)

0
1
2
3
4

In [47]:
for i in range(1,6):
  print(i,end=' ')

1 2 3 4 5

In [48]:
for i in [1,2,3,4,5]:
  print('반복!',i)

반복! 1
반복! 2
반복! 3
반복! 4
반복! 5

In [49]:
count=0
while count<3:
  print(count)
  count+=1

0
1
2

In [51]:
n=int(input())
sum=0
for i in range(1,n+1):
  sum+=i

print(sum)

5
1
2
3
4
5
15

In [54]:
num=0
while True:
  if num==10:
    break
  print(num)
  num+=1

0
1
2
3
4
5
6
7
8
9

In [55]:
num=0
while num<10:
  print(num)
  num+=1

0
1
2
3
4
5
6
7
8
9

In [56]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9